
.footer{
    min-height: 20px;
    color: #666;
    position: relative;
}




.result-top-label{
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    padding: 10px;
    text-align: center;
    color: #333;
}


.footer-info{
    color: #666;
}
.search-result .title h3 {
    margin: 0 0 15px;
    color: #333;
}
.search-result .title p {
    font-size: 12px;
    color: #333;
}

.search-result-bar{
    background: #ecf0f1 !important;
}


.img-responsive{
    width: 94px;
    height: 94px;
}


.img-responsive-category{
        padding-right: 20px;
    position: relative;
        width: 100%;
    height: 150px;
}


.well {
    border: 0;
    padding: 20px;
    min-height: 63px;
    background: #fff;
    box-shadow: none;
    border-radius: 3px;
    position: relative;
    max-height: 100000px;
    border-bottom: 2px solid #ccc;
    transition: max-height 0.5s ease;
    -o-transition: max-height 0.5s ease;
    -ms-transition: max-height 0.5s ease;
    -moz-transition: max-height 0.5s ease;
    -webkit-transition: max-height 0.5s ease;
}

.lead{
    
    font-size: 21px !important;
    font-weight: 200;
    line-height: 30px;
}

.search-result{
    background: #ecf0f1;
}

.search-result:hover{
    background: #DEE5E6;
}

.form-control {
    height: 45px;
    padding: 10px;
    font-size: 16px;
    box-shadow: none;
    border-radius: 0;
    position: relative;
}    
.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}
.button {
    font-size: 1em;
    padding: 10px;
    color: #337ab7;
    background-color: #fff;
    border: 2px solid #337ab7;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    transition: all 0.3s ease-out;
}


.button:hover {
  background: #337ab7;
  color:#fff;
  text-decoration: none;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding-top:10px;
  background: #337ab7;
  color:#fff;
  border-radius: 5px;
  width: 40%;
  position: relative;
  transition: all 5s ease-in-out;
}

<<<<<<< HEAD
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #fff
}
.popup .close:hover {
  color: #fff;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  background-color: #fff;
  color:black;
}

.inRow{
    padding: 10px;
    
}
.popup_head{
    padding-left: 10px;
}
=======
/*Product page*/
.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    padding: 10px;
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: wrap;
}

.product-cat-links:hover{
    text-decoration: none;
}

.product-box:hover{
    border: 1px solid #D2CF1C;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

>>>>>>> refs/remotes/origin/master
