.name-header {
    display: inline;
}

.btn {
    width: 30px;
    height: 30px;
    font-size: 80%;
    font-style: normal;
    font-weight: bold;
    padding: 3px;
}

.btn-add-ingredient, .btn-add-recipe {
    font-size: 125%;
    font-style: normal;
    padding: 0 0 2px 0;
}

.hide {
    display: none;
}

.removed {
    text-decoration: line-through;
    font-style: italic;
}

label {
    text-decoration: inherit;
    font-style: inherit;
}

.help-block {
    font-weight: bolder;
}
