.name-header {
    display: inline;
}

.btn {
    color: black;
    width: 115px;
}

.btn-remove-recipe, .btn-add-recipe {
    margin-top: 20px;
    margin-bottom: 10px;
}

li {
    list-style-type: none;
    margin: 15px;
}

.hide {
    display: none;
}

.removed {
    color: red;
    text-decoration: line-through;
    font-style: italic;
}

label {
    text-decoration: inherit;
    font-style: inherit;
}

.help-block {
    color: #d9534f;
    font-weight: bolder;
}

/*.error {
    font-weight: bolder;
}*/
